#texas {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: 0;
}


div#texas img {
	position: absolute;
	transform: rotate3d(0, 0, 0, 0deg);
	margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	/* margin-left: 50%; */
	/* margin-top: 36%; */
	z-index: 0;
}

div#texas img#center {
	animation: center 1s linear forwards;
    position: absolute;
	top: 15.9%;
    /* visibility: hidden; 
	z-index: -1; */
}




div#texas img#left {
	transform-origin: left;
	animation: left 0.5s linear forwards;
	animation-delay: 0.35s;
	top: 16%;
	left: -4%;
	z-index: 1;
	opacity: 0;
}

@keyframes left {
	0%{
		transform: rotate3d(0, 0, 0, 0deg);
		opacity: 0;
	}
	
	100%{
		transform: rotate3d(0, 1, 0, 180deg);
		opacity: 1;
	}
}


div#texas img#right {
	transform-origin: top right;
	top: 16%;
	left: 4%;
	animation: right 0.5s linear forwards;
	animation-delay: 0.5s;
    visibility: hidden;
}

@keyframes right {
	0%{
		visibility: hidden;
		opacity: 0;
	}
	
	100%{
	transform: rotate3d(0, 1, 0, 180deg);
    visibility: inherit;
	opacity: 1;
	}
}



div#texas img#top-left {
	transform-origin: top left;
	animation: top-left 1.5s linear forwards;
	top: 38.1%;
	left: -50.3%;
    visibility: hidden;
}

@keyframes top-left {
	0%{
		transform: rotate3d(0, 0, 0, 0deg);
		visibility: hidden;
	}
	
	50%{
		transform: rotate3d(0, 0, 0, 0deg);
		visibility: hidden;
		opacity: 0;
	}
	
	100%{
		transform: rotate3d(1, 0, 0, 180deg);
		visibility: inherit;
		opacity: 1;
	}
}


div#texas img#top-right {
	transform-origin: top right;
	animation: top-right 1.5s linear forwards;
	top: 38.1%;
	left: 4%;
    visibility: hidden;
}

@keyframes top-right {
	0%{
		visibility: hidden;
	}
	
	50%{
	transform: rotate3d(0, 1, 0, 180deg);
    visibility: hidden;
	opacity: 0;
	}
	
	100%{
	transform: rotate3d(0, 0, 1, 180deg);
    visibility: inherit;
	opacity: 1;
	}
}


div#texas img#top {
	transform-origin: top center;
	animation: top 1.5s linear forwards;
	top: 38.1%;
    visibility: hidden;
	z-index: 1;
}

@keyframes top {
	0%{
		visibility: hidden;
	}
	50%{
		transform: rotate3d(0, 0, 0, 0deg);
		visibility: hidden;
		opacity: 0;
	}
	75%{
		opacity: 0;
	}
	
	100%{
		transform: rotate3d(1, 0, 0, 180deg);
		visibility: inherit;
		opacity: 1;
	}
}


div#texas img#farleft {
	transform-origin: left top;
	animation: far-left 1.75s linear forwards;
	top: 11%;
	left: -46.4%;
    visibility: hidden;
}

@keyframes far-left {
	0%{
		visibility: hidden;
	}
	
	66.6%{
		transform: rotate3d(0, 0, 0, 0deg);
		visibility: hidden;
		opacity: 0;
	}
	
	100%{
		transform: rotate3d(0, 1, 0, -180deg);
		visibility: inherit;
		opacity: 1;
	}
}


div#texas img#bottom {
	transform-origin: center bottom;
	animation: bottom 2s linear forwards;
    visibility: hidden;
	top: 9.4%;
	left: 4.2%;
}

@keyframes bottom {
	0%{
		visibility: hidden;
	}
	
	66.6%{
		transform: rotate3d(0, 0, 0, 0deg);
		visibility: hidden;
		opacity: 0;
	}
	
	100%{
		transform: rotate3d(1, 0, 0, 180deg);
		visibility: inherit;
		opacity: 1;
	}
}





