#texas {
   position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: -1;
}


div#texas img {
	position: absolute;
	transform: rotate3d(0, 0, 0, 0deg);
	margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	/* margin-left: 50%; */
	/* margin-top: 36%; */
	z-index: 0;
}

div#texas img#center {
	animation: center 1s linear forwards;
    position: absolute;
	top: 13%;
    /* visibility: hidden; 
	z-index: -1; */
}




div#texas img#left {
	transform-origin: left;
	animation: left 0.5s linear forwards;
	animation-delay: 0.35s;
	position: absolute;
	top: 13%;
	z-index: 1;
	opacity: 0;
}

@keyframes left {
	0%{
		transform: rotate3d(0, 0, 0, 0deg);
		opacity: 0;
	}
	
	100%{
		transform: rotate3d(0, 1, 0, 180deg);
		transition-delay: s;
		left: -2.8%;
		position: absolute;
		opacity: 1;
	}
}


div#texas img#right {
	transform-origin: top right;
    position: absolute;
	top: 13%;
	animation: right 0.5s linear forwards;
	animation-delay: 0.5s;
    visibility: hidden;
}

@keyframes right {
	0%{
		visibility: hidden;
		opacity: 0;
	}
	
	100%{
	transform: rotate3d(0, 1, 0, 180deg);
	transition-delay: 1s;
    visibility: inherit;
    position: absolute;
	left: 4%;
	opacity: 1;
	}
}



div#texas img#top-left {
	transform-origin: top left;
	animation: top-left 1.5s linear forwards;
    position: absolute;
	top: 27%;
	left: -50.3%;
    visibility: hidden;
}

@keyframes top-left {
	0%{
		transform: rotate3d(0, 0, 0, 0deg);
		visibility: hidden;
	}
	
	66.6%{
		transform: rotate3d(0, 0, 0, 0deg);
		visibility: hidden;
		opacity: 0;
	}
	
	100%{
		transform: rotate3d(1, 0, 0, 180deg);
		transition-delay: 2s;
		position: absolute;
		top: 27%;
		visibility: inherit;
		opacity: 1;
	}
}


div#texas img#top-right {
	transform-origin: top right;
	animation: top-right 1.5s linear forwards;
    position: absolute;
    visibility: hidden;
}

@keyframes top-right {
	50%{
		visibility: hidden;
	}
	
	66.6%{
	transform: rotate3d(0, 1, 0, 180deg);
	transition-delay: 2s;
    visibility: hidden;
    position: absolute;
	opacity: 0;
	}
	
	100%{
	transform: rotate3d(0, 0, 1, 180deg);
	transition-delay: 1s;
    visibility: inherit;
    position: absolute;
	top: 26.3%;
	left: 4%;
	opacity: 1;
	}
}


div#texas img#top {
	transform-origin: top center;
	animation: top 1.5s linear forwards;
    position: absolute;
	top: 26.3%;
    visibility: hidden;
	z-index: 1;
}

@keyframes top {
	0%{
		visibility: hidden;
		z-index: 1;
	}
	66.6%{
		transform: rotate3d(0, 0, 0, 0deg);
		visibility: hidden;
		z-index: 1;
		opacity: 0;
	}
	
	100%{
		transform: rotate3d(1, 0, 0, 180deg);
		transition-delay: 2s;
		top: 26.3%;
		visibility: inherit;
		opacity: 1;
	}
}


div#texas img#farleft {
	transform-origin: left top;
	animation: far-left 1.75s linear forwards;
	position: absolute;
	top: 13%;
    visibility: hidden;
}

@keyframes far-left {
	0%{
		visibility: hidden;
	}
	
	75%{
		transform: rotate3d(0, 0, 0, 0deg);
		visibility: hidden;
		opacity: 0;
	}
	
	100%{
		transform: rotate3d(0, 1, 0, -180deg);
		transition-delay: 2s;
		left: -46.8%;
		visibility: inherit;
		position: absolute;
		opacity: 1;
	}
}


div#texas img#bottom {
	transform-origin: center bottom;
	animation: bottom 2s linear forwards;
    visibility: hidden;
	top: 13.8%;
}

@keyframes bottom {
	0%{
		visibility: hidden;
	}
	
	75%{
		transform: rotate3d(0, 0, 0, 0deg);
		visibility: hidden;
		opacity: 0;
	}
	
	100%{
		transform: rotate3d(1, 0, 0, 180deg);
		transition-delay: 2s;
		top: 13.8%;
		left: 6%;
		visibility: inherit;
		position: absolute;
		opacity: 1;
	}
}





