body {
    background-color: black;
}

#texas{
  position: absolute;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   width: 100px;
   height: 100px;
}

#goBig {
	/* width: 100px;
    height: auto; */
    /* z-index: 1; */
}

div#texas img {
	position: absolute;
	transform: rotate3d(0, 0, 0, 0deg);
}


div#texas img#upperRight {
	transform-origin: top center;
	/* transition-delay: 1s; */
	animation: upper-right 1s linear forwards;
	animation-delay: 1s;
    position: absolute;
    left: -4%;
    top: 200px;
    visibility: hidden;
}

@keyframes upper-right {
	from{
		visibility: hidden;
	}
	
	to{
		transform: rotate3d(1, 0, 0, 180deg);
		transition-delay: 2s;
		position: absolute;
		left: -2%;
		top: 200px;
		visibility: inherit;
	}
}


div#texas img#right {
	transform-origin: top right;
	animation: right 1s linear forwards;
	animation-delay: 1s;
	/* top:-0px; */
	left:-185px;
    visibility: hidden;
}

@keyframes right {
	from{
		visibility: hidden;
	}
	
	to{
	transform: rotate3d(0, 1, 0, 180deg);
	transition-delay: 1s;
    visibility: inherit;
    position: absolute;
	}
}


div#texas img#rightLeft {
	transform-origin: top right;
	animation: right-left 1s linear forwards;
	animation-delay: 1s;
	visibility: hidden;
}

@keyframes right-left {
	from{
		visibility: hidden;
	}
	
	to{
	transform: rotate3d(3, 1, 0, -180deg);
	transition-delay: 1s;
    visibility: inherit;
    position: absolute;
	}
}


div#texas img#bottom {
	transform-origin: center bottom;
	animation: bottom 1s linear forwards;
	animation-delay: 2.5s;
    top:-156px;
	left:-70px;
    visibility: hidden;
}

@keyframes bottom {
	from{
		visibility: hidden;
	}
	
	to{
		transform: rotate3d(1, 0, 0, 180deg);
		transition-delay: .5s;
		top:-156px;
		left:-70px;
		visibility: inherit;
		position: absolute;
	}
}


div#texas img#left {
	transform-origin: left top;
	animation: left 1s linear forwards;
	animation-delay: 2s;
	position: absolute;
    top: 12px;
    left: 28px;
    visibility: hidden;
}

@keyframes left {
	from{
		visibility: hidden;
	}
	
	to{
		transform: rotate3d(0, 1, 0, -180deg);
		transition-delay: 1s;
		top: 12px;
		left: 28px;
		visibility: inherit;
		position: absolute;
	}
}


div#texas img#farleft {
	transform-origin: left top;
	animation: far-left 1s linear forwards;
	animation-delay: 3s;
	position: absolute;
    top: 12px;
    left: 28px;
    visibility: hidden;
}

@keyframes far-left {
	from{
		visibility: hidden;
	}
	
	to{
		transform: rotate3d(0, 1, 0, -180deg);
		transition-delay: 2s;
		top: -88px;
		left: -388px;
		visibility: inherit;
		position: absolute;
	}
}


div#texas img#top {
	transform-origin: top center;
	animation: top 1s linear forwards;
	animation-delay: 1.5s;
    position: absolute;
    left: -420px;
    top: 100px;
    visibility: hidden;
}

@keyframes top {
	from{
		visibility: hidden;
	}
	
	to{
		transform: rotate3d(1, 0, 0, 180deg);
		transition-delay: 1.5s;
		left: -560px;
		top: 100px;
		visibility: inherit;
		position: absolute;
	}
}




